.row h4{
	margin-top: 0;
}

.equal{
	display: flex; /* equal height of the children */
	display: -webkit-flex;
	flex-wrap: wrap;
}

.im {
	background-image: url(../pictures/codingPic.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 200px;
}

.banner {
  height: 125px;
  background-position: center;
  background-size: cover;
}

.b1 {
  background-image: url("../pictures/coding/b1.jpg");
}
.b2 {
  background-image: url("../pictures/coding/b2.jpg");
}
.b3 {
  background-image: url("../pictures/coding/b3.jpg");
}
.b4 {
  background-image: url("../pictures/coding/b4.jpg");
}