.img-center {
     margin: 0 auto;
 }

h1 {
  font-size: 40px;
}

.noUnderline a {
  font-size: 17px;
  color: rgb(0,0,0);
  text-decoration: none;
}

.square {
  width: 100%;
  padding-bottom: 90%;
  text-align: right;
  padding-right: 10px;
}

.hobby {
  opacity: 1;
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: content-box;
  padding-left: 0;
  padding-right: 0;
}

.research {
  background-image: url("../pictures/research.png");
  background-size: 90%
}
.music {
  background-image: url("../pictures/piano.png");
  background-size: 70%
}
.motorcycles {
  background-image: url("../pictures/motorcycles.png");
  background-size: 70%
}
.resources {
  background-image: url("../pictures/resources.png");
  background-size: 70%
}

.square{
  background-color: rgba(250, 250, 250, 0);
  transition: background-color 0.2s linear;
}

.square:hover {
  background-color: rgba(250, 250, 250, 0.5);
}

.square:hover {
  color: black !important;
  transition: color 0.2s linear;
}
